header {
    background-color: darkred;
    color: whitesmoke;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

header.a {
    color:whitesmoke
}

h1 {
    background-color: rgb(13, 68, 70);
    color: whitesmoke;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}